.text {
  border: hidden;
  background-color: hidden;
  text-align: center;
}
.div {
  background-color: orchid;
  text-align: center;
}
.row {
  text-align: center;
}
.row * {
  border: 1px solid
  background-color: orchid
  text-align: center;
}
.col {
  width: 100px;
}
/* rgb(235, 132, 235); */